@font-face {
  font-family: 'Halloween Morning';
  src: url('../static/fonts/Halloween Morning.ttf');
}

* {
  margin: 0;
  padding: 0;
}

html,
body {
  background-color: #595a5c;
  overflow: hidden;
}

.webgl-container {
  background-color: #000;
  position: fixed;
  top: 0;
  left: 0;
  opacity: 1;
  transition: top 1500ms, opacity 1500ms;
  z-index: 10;
}

.webgl-container.hidden {
  opacity: 0;
}

.description-container {
  background: url(../static/background/AdobeStock_668935688.jpeg);
  background-size: cover;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 5;
}

.webgl-house, .webgl-skull {
  outline: none;
}

.enter-house-button {
  box-shadow: 3px 3px 20px black;
  background-color: #000;
  border: 1px solid #e01410;
  border-radius: 10px;
  bottom: 1em;
  color: #e01410;
  cursor: pointer;
  font-family: 'Halloween Morning';
  font-size: 4em;
  left: 50%;
  letter-spacing: 2px;
  padding: 7px 15px;
  position: absolute;
  transform: translateX(-50%);
}

.skull-description {
  font-size: 3em;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  z-index: 0;


  background-color: rgba(255, 255, 255, 0.6);
  border: 1px solid rgb(152 0 4);
  border-radius: 0.3em;
  box-shadow: 3px 3px 10px black;
  padding: 0.8em;
}

.skull-description-title {
  text-shadow: 1px 1px 1px black;
  color: rgb(152 0 4);
  font-family: 'Halloween Morning';
  margin-bottom: 0.25em;
  text-align: center;
}

.skull-description-content {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 0.7em;
}

@media only screen and (max-width: 768px) {
  .skull-description {
    left: 0.5em;
    max-height: 75vh;
    overflow: scroll;
    padding: 0.5em;
    transform: translateY(-50%);
    width: calc(100% - 2em);
  }

  .skull-description-title {
    font-size: 1.5em;
  }

  .skull-description-content {
    font-size: 0.5em;
  }
}
